# Supabase — Project Settings > API
NEXT_PUBLIC_SUPABASE_URL="https://wzrhnyvsyxwmrfsqtthy.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind6cmhueXZzeXh3bXJmc3F0dGh5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc3Mjg0NjMsImV4cCI6MjEwMzMwNDQ2M30.KmrZQ9DVeZmQ5zYJazIGRLpqrfPDwLwVpfdFCAeEflU"
